#spring:
  datasource:
    url: jdbc:mysql://localhost:3306/luck_db?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: rootluck123!
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create

## h2 μ„Έν…
#spring:
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#  datasource:
#    url: jdbc:h2:~/test;MODE=mysql;
#    username: test
#    password:
#    driver-class-name: org.h2.Driver
#
#  jpa:
#    properties:
#      hibernate:
#        format_sql: true
#        show_sql: true
#    hibernate:
#      ddl-auto: create
#    database-platform: org.hibernate.dialect.H2Dialect
#    generate-ddl: true

